# Exclude libraries' source code

wwwroot/lib/**/*.md
wwwroot/lib/**/Gruntfile.js
wwwroot/lib/**/LICENSE
wwwroot/lib/**/package.json

wwwroot/lib/bootstrap/fonts/
wwwroot/lib/bootstrap/grunt/
wwwroot/lib/bootstrap/js/
wwwroot/lib/bootstrap/less/

wwwroot/lib/bootstrap-datepicker/
wwwroot/lib/bootstrap-datepicker/js/
wwwroot/lib/bootstrap-datepicker/less/

wwwroot/lib/es6-promise/lib/

# Exclude jQueryUI themes that are not in use

wwwroot/lib/jqueryui/themes/black-tie/
wwwroot/lib/jqueryui/themes/blitzer/
wwwroot/lib/jqueryui/themes/cupertino/
wwwroot/lib/jqueryui/themes/dark-hive/
wwwroot/lib/jqueryui/themes/dot-luv/
wwwroot/lib/jqueryui/themes/eggplant/
wwwroot/lib/jqueryui/themes/excite-bike/
wwwroot/lib/jqueryui/themes/flick/
wwwroot/lib/jqueryui/themes/hot-sneaks/
wwwroot/lib/jqueryui/themes/humanity/
wwwroot/lib/jqueryui/themes/le-frog/
wwwroot/lib/jqueryui/themes/mint-choc/
wwwroot/lib/jqueryui/themes/overcast/
wwwroot/lib/jqueryui/themes/pepper-grinder/
wwwroot/lib/jqueryui/themes/redmond/
wwwroot/lib/jqueryui/themes/smoothness/
wwwroot/lib/jqueryui/themes/south-street/
wwwroot/lib/jqueryui/themes/start/
wwwroot/lib/jqueryui/themes/sunny/
wwwroot/lib/jqueryui/themes/swanky-purse/
wwwroot/lib/jqueryui/themes/trontastic/
wwwroot/lib/jqueryui/themes/ui-darkness/
wwwroot/lib/jqueryui/themes/ui-lightness/
wwwroot/lib/jqueryui/themes/vader/




# Development files

appsettings.Development.json
